<% if (!locals.hideLayout){%>
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endi]-->
<!--[if !IE]><!--> <html lang="en" class="no-js"> <!--<![endif]-->

<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>教育资源管理系统</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="/public/plugins/metronic/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/public/plugins/metronic/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css"/>
    <link href="/public/plugins/metronic/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="/public/plugins/metronic/css/style-metro.css" rel="stylesheet" type="text/css"/>
    <link href="/public/plugins/metronic/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="/public/plugins/metronic/css/style-responsive.css" rel="stylesheet" type="text/css"/>
    <link href="/public/plugins/metronic/css/default.css" rel="stylesheet" type="text/css" id="style_color"/>
    <link href="/public/plugins/metronic/css/uniform.default.css" rel="stylesheet" type="text/css"/>
    <link href="/public/plugins/metronic/css/select2_metro.css" rel="stylesheet" type="text/css"/>
    <link href="/public/plugins/metronic/css/DT_bootstrap.css" rel="stylesheet" type="text/css"/>
    <link href="/public/plugins/metronic/css/bootstrap-modal.css" rel="stylesheet" type="text/css"/>
    <link href="/public/plugins/metronic/css/jquery.gritter.css" rel="stylesheet" type="text/css"/>
    <link href="/public/plugins/metronic/css/daterangepicker.css" rel="stylesheet" type="text/css"/>
    <link href="/public/plugins/metronic/css/fullcalendar.css" rel="stylesheet" type="text/css"/>
    <link href="/public/plugins/metronic/css/jquery.easy-pie-chart.css" rel="stylesheet" type="text/css"/>
    <!-- END GLOBAL MANDATORY STYLES -->

    <link rel="shortcut icon" href="/public/plugins/metronic/image/favicon.ico" />
</head>
<!-- END HEAD -->

<!-- BEGIN BODY -->
<body class="page-header-fixed">
<!-- BEGIN HEADER -->
<div class="header navbar navbar-inverse navbar-fixed-top">
    <!-- BEGIN TOP NAVIGATION BAR -->
    <div class="navbar-inner">
        <div class="container-fluid">
            <!-- BEGIN LOGO -->
            <a class="brand" href="index.html">
                <img src="/public/plugins/metronic/image/logo.png" alt="logo"/>
            </a>
            <!-- END LOGO -->

            <!-- BEGIN RESPONSIVE MENU TOGGLER -->
            <a href="javascript:;" class="btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">
                <img src="/public/plugins/metronic/image/menu-toggler.png" alt="" />
            </a>
            <!-- END RESPONSIVE MENU TOGGLER -->

            <!-- BEGIN TOP NAVIGATION MENU -->
            <ul class="nav pull-right">
                <!-- BEGIN USER LOGIN DROPDOWN -->
                <li class="dropdown user">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img alt="" src="/public/plugins/metronic/image/avatar_small.jpg" style="border-radius: 50% !important;"/>
                        <span class="username"><%= locals.user.name%></span>
                        <i class="icon-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="extra_profile.html"><i class="icon-user"></i> 个人资料</a></li>
                        <li><a href="/user/logout"><i class="icon-key"></i> 退出登录</a></li>
                    </ul>
                </li>
                <!-- END USER LOGIN DROPDOWN -->
            </ul>
            <!-- END TOP NAVIGATION MENU -->
        </div>
    </div>
    <!-- END TOP NAVIGATION BAR -->
</div>
<!-- END HEADER -->

<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN SIDEBAR -->
    <div class="page-sidebar nav-collapse collapse">
        <!-- BEGIN SIDEBAR MENU -->
        <ul class="page-sidebar-menu">
            <li>
                <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                <div class="sidebar-toggler hidden-phone" style="margin-bottom: 15px;"></div>
                <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
            </li>
            <li class="start active ">
                <a href="/">
                    <i class="icon-home"></i>
                    <span class="title">首页</span>
                    <span class="selected"></span>
                </a>
            </li>
            <li>
                <a class="active" href="javascript:;">
                    <i class="icon-sitemap"></i>
                    <span class="title">3 Level Menu</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="javascript:;">
                            Item 1
                            <span class="arrow"></span>
                        </a>
                        <ul class="sub-menu">
                            <li><a href="#">Sample Link 1</a></li>
                            <li><a href="#">Sample Link 2</a></li>
                            <li><a href="#">Sample Link 3</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;">
                            Item 1
                            <span class="arrow"></span>
                        </a>
                        <ul class="sub-menu">
                            <li><a href="#">Sample Link 1</a></li>
                            <li><a href="#">Sample Link 1</a></li>
                            <li><a href="#">Sample Link 1</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            Item 3
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="icon-folder-open"></i>
                    <span class="title">4 Level Menu</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="javascript:;">
                            <i class="icon-cogs"></i>
                            Item 1
                            <span class="arrow"></span>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="javascript:;">
                                    <i class="icon-user"></i>
                                    Sample Link 1
                                    <span class="arrow"></span>
                                </a>
                                <ul class="sub-menu">
                                    <li><a href="#"><i class="icon-remove"></i> Sample Link 1</a></li>
                                    <li><a href="#"><i class="icon-pencil"></i> Sample Link 1</a></li>
                                    <li><a href="#"><i class="icon-edit"></i> Sample Link 1</a></li>
                                </ul>
                            </li>
                            <li><a href="#"><i class="icon-user"></i>  Sample Link 1</a></li>
                            <li><a href="#"><i class="icon-external-link"></i>  Sample Link 2</a></li>
                            <li><a href="#"><i class="icon-bell"></i>  Sample Link 3</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="icon-globe"></i>
                            Item 2
                            <span class="arrow"></span>
                        </a>
                        <ul class="sub-menu">
                            <li><a href="#"><i class="icon-user"></i>  Sample Link 1</a></li>
                            <li><a href="#"><i class="icon-external-link"></i>  Sample Link 1</a></li>
                            <li><a href="#"><i class="icon-bell"></i>  Sample Link 1</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <i class="icon-folder-open"></i>
                            Item 3
                        </a>
                    </li>
                </ul>
            </li>
            <li class="">
                <a href="javascript:">
                    <i class="icon-cog"></i>
                    <span class="title">用户</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li><a href="/user/user_list">账号管理</a></li>
                    <li><a href="/user/role_list">角色管理</a></li>
                </ul>
            </li>
        </ul>
        <!-- END SIDEBAR MENU -->
    </div>
    <!-- END SIDEBAR -->

    <!-- BEGIN PAGE -->
    <div class="page-content">
        <!-- BEGIN PAGE CONTAINER-->
        <div class="container-fluid">
            <!-- BEGIN PAGE HEADER-->
            <div class="row-fluid">
                <div class="span12">
                    <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                    <h3 class="page-title">
                        <%- title %>
                    </h3>
                    <ul class="breadcrumb">
                        <li>
                            <i class="icon-home"></i>
                            <a href="/">首页</a>
                        </li>
                        <%- breadcrumb%>
                    </ul>
                    <!-- END PAGE TITLE & BREADCRUMB-->
                </div>
            </div>
            <!-- END PAGE HEADER-->
            <%- body%>
        </div>
        <!-- END PAGE CONTAINER-->
    </div>
    <!-- END PAGE -->
</div>
<!-- END CONTAINER -->

<!-- BEGIN FOOTER -->
<div class="footer">
    <div class="footer-inner">
        2018 &copy; ERMS by Xuzishuai.</a>
    </div>
    <div class="footer-tools">
			<span class="go-top">
			<i class="icon-angle-up"></i>
			</span>
    </div>
</div>
<!-- END FOOTER -->

<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
<script src="/public/plugins/jquery2_1_1/jquery-2.1.1.min.js" type="text/javascript"></script>
<script src="/public/plugins/metronic/js/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
<script src="/public/plugins/metronic/js/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>
<script src="/public/plugins/metronic/js/bootstrap.min.js" type="text/javascript"></script>
<!--[if lt IE 9]>
<script src="/public/plugins/metronic/js/excanvas.min.js"></script>
<script src="/public/plugins/metronic/js/respond.min.js"></script>
<![endif]-->
<script src="/public/plugins/metronic/js/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="/public/plugins/metronic/js/jquery.blockui.min.js" type="text/javascript"></script>
<script src="/public/plugins/metronic/js/jquery.cookie.min.js" type="text/javascript"></script>
<script src="/public/plugins/metronic/js/jquery.uniform.min.js" type="text/javascript" ></script>
<script src="/public/plugins/metronic/js/jquery.flot.js" type="text/javascript"></script>
<script src="/public/plugins/metronic/js/jquery.flot.resize.js" type="text/javascript"></script>
<script src="/public/plugins/metronic/js/jquery.pulsate.min.js" type="text/javascript"></script>
<script src="/public/plugins/metronic/js/date.js" type="text/javascript"></script>
<script src="/public/plugins/metronic/js/daterangepicker.js" type="text/javascript"></script>
<script src="/public/plugins/metronic/js/jquery.gritter.js" type="text/javascript"></script>
<script src="/public/plugins/metronic/js/fullcalendar.min.js" type="text/javascript"></script>
<script src="/public/plugins/metronic/js/jquery.easy-pie-chart.js" type="text/javascript"></script>
<script src="/public/plugins/metronic/js/jquery.sparkline.min.js" type="text/javascript"></script>
<script src="/public/plugins/metronic/js/app.js" type="text/javascript"></script>
<script src="/public/plugins/metronic/js/jquery.validate.min.js" type="text/javascript"></script>
<script src="/public/plugins/metronic/js/select2.min.js" type="text/javascript"></script>
<script src="/public/plugins/metronic/js/form-samples.js" type="text/javascript"></script>
<script src="/public/plugins/metronic/js/jquery.dataTables.js" type="text/javascript"></script>
<script src="/public/plugins/metronic/js/DT_bootstrap.js" type="text/javascript"></script>
<script src="/public/plugins/metronic/js/table-managed.js" type="text/javascript"></script>
<script>
    jQuery(document).ready(function() {
        App.init(); // initlayout and core plugins
    });
</script>
<%- script %>
</body>
</html>
<%} else {%>
<%- body%>
<%}%>