<div class="row-fluid">
    <div class="span12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-reorder"></i>
                </div>
                <div class="actions">
                    <a href="/user/user_list" class="btn yellow"><i class="icon-chevron-left"></i> 返回</a>
                </div>
            </div>
            <div class="portlet-body form">
                <form action="/user/do_update_user" class="form-horizontal" method="post">
                    <input id="id" name="id" value="<%= user.id%>" type="hidden">
                    <div class="control-group">
                        <label class="control-label">工号<span class="required">*</span></label>
                        <div class="controls">
                            <input type="text" class="m-wrap span6" name="user_no" id="user_no" value="<%= user.user_no%>">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">姓名<span class="required">*</span></label>
                        <div class="controls">
                            <input type="text" class="m-wrap span6" name="name" id="name" value="<%= user.name%>">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">角色<span class="required">*</span></label>
                        <div class="controls">
                            <select class="span6 select2"  data-placeholder="请选择角色" tabindex="1" name="role_id" id="role_id">
                                <%for (let i = 0; i < roles.length; i++){%>
                                <option value="<%= roles[i].id%>" <%if (user.role_id == roles[i].id){%>selected<%}%>><%= roles[i].name%></option>
                                <%}%>
                            </select>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn green"><i class="icon-ok"></i> 提交</button>
                        <button type="button" class="btn" onclick="javascript:history.back(-1);"><i class="icon-remove"></i> 取消</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<%- contentFor('title')%>
编辑用户
<%- contentFor('breadcrumb')%>
<li>
    <i class="icon-angle-right"></i>
    <a href="javascript:void(0);">设置</a>
</li>
<li>
    <i class="icon-angle-right"></i>
    <a href="/user/user_list">用户列表</a>
</li>
<li>
    <i class="icon-angle-right"></i>
    <a href="/user/edit_user?id=<%= user.id%>">编辑用户</a>
</li>
<%- contentFor('script')%>
<script>
    $(function() {
        $('form').validate({
            errorClass: 'help-inline', // default input error message class
            rules: {
                user_no: {
                    required: true,
                    remote: {
                        url: "/user/validate_user_no",     //后台处理程序
                        type: "post",               //数据发送方式
                        dataType: "json",           //接受数据格式
                        data: {                     //要传递的数据
                            user_no: function() {
                                return $("#user_no").val();
                            },
                            id: function () {
                                return $("#id").val();
                            }
                        }
                    }
                },
                name: {
                    required: true
                },
                role_id: {
                    required: true
                }
            },
            messages: {
                user_no: {
                    required: "请输入工号",
                    remote: "工号已存在，请重新输入"
                },
                name: {
                    required: "请输入姓名"
                },
                role_id: {
                    required: "请选择角色"
                }
            },
            errorPlacement: function(error, element) {
                error.appendTo( element.parents('.controls') );
            },
            highlight: function (element) { // hightlight error inputs
                $(element)
                    .closest('.help-inline').removeClass('ok'); // display OK icon
                $(element)
                    .closest('.control-group').removeClass('success').addClass('error'); // set error class to the control group
            },
            unhighlight: function (element) { // revert the change dony by hightlight
                $(element)
                    .closest('.control-group').removeClass('error'); // set error class to the control group
            },
            success: function (label) {
                label
                    .addClass('valid').addClass('help-inline ok') // mark the current input as valid and display OK icon
                    .closest('.control-group').removeClass('error').addClass('success'); // set success class to the control group
            }
        });
    });
</script>