<div class="row-fluid">
    <div class="span12">
        <div class="portlet box purple">
            <div class="portlet-title">
                <div class="actions">
                    <a href="/user/new_user" class="btn blue"><i class="icon-plus"></i> 新增用户</a>
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>工号</th>
                            <th>姓名</th>
                            <th>角色</th>
                            <th class="table_action" data-colNum=3>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%for (var i=0;i<users.length;i++){%>
                        <tr>
                            <td><%= users[i].user_no%></td>
                            <td><%= users[i].name%></td>
                            <td><%= roleMap[users[i].role_id].name%></td>
                            <td>
                                <a href="/user/edit_user?id=<%= users[i].id%>" class="btn blue mini"><i class="icon-pencil"></i> 编辑</a>
                                <a data-toggle="modal" data-target="#confirm" data-id="<%= users[i].id%>" class="btn red mini"><i class="icon-minus"></i> 删除</a>
                            </td>
                        </tr>
                        <%}%>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div id="confirm" class="modal hide fade" tabindex="-1" data-backdrop="static">
    <div class="modal-body">
        <p>确定删除该用户吗?</p>
    </div>
    <div class="modal-footer">
        <form action="/user/delete_user">
            <input id="id" name="id" hidden>
            <button type="button" data-dismiss="modal" class="btn">取消</button>
            <button type="submit" class="btn green">确认</button>
        </form>
    </div>
</div>
<%- contentFor('title')%>
用户列表
<%- contentFor('script')%>
<script>
    jQuery(document).ready(function() {
        $('#confirm').on('show.bs.modal', function (event) {
            let button = $(event.relatedTarget);
            $('#id').val(button.data('id'));
        })
        $('#confirm').on('hidden.bs.modal', function () {
            $('#id').val('');
        })
    });
</script>