<tr id="contract_detail_<%= detail_index%>">
    <td class="control-group">
        <div class="controls" style="margin-left: 0;">
            <select name="subject_id_<%= detail_index%>" class="select2">
                <option value="">请选择科目</option>
                <%for (let i = 0; i < subjects.length; i++){%>
                <option value="<%= subjects[i].id%>"><%= subjects[i].name%></option>
                <%}%>
            </select>
        </div>
    </td>
    <td class="control-group">
        <div class="controls" style="margin-left: 0;">
            <input name="lesson_period_<%= detail_index%>" type="text" onkeyup="calculateTotal(this, 'lesson_period')">
        </div>
    </td>
    <td class="control-group">
        <div class="controls" style="margin-left: 0;">
            <select name="type_id_<%= detail_index%>" class="select2">
                <option value="">请选择类型</option>
                <%for (let i = 0; i < types.length; i++){%>
                <option value="<%= types[i].id%>"><%= types[i].name%></option>
                <%}%>
            </select>
        </div>
    </td>
    <td class="control-group">
        <div class="controls" style="margin-left: 0;">
            <input name="price_<%= detail_index%>" type="number" onkeyup="calculateTotal()">
        </div>
    </td>
    <td><a onclick="removeDetailTr('<%= detail_index%>')" class="btn red mini"><i class="icon-minus"></i> 删除</a></td>
    <input name="id_<%= detail_index%>" value="" type="hidden">
</tr>