<div class="row-fluid">
    <div class="span12">
        <div class="portlet box purple">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-reorder"></i>
                </div>
            </div>
            <div class="portlet-body">
                <div class="booking-search">
                    <form action="/contract/audit_contract_list">
                        <div class="clearfix">
                            <div class="control-group span3">
                                <label class="control-label">学员:</label>
                                <div class="controls">
                                    <select class="span12 select2" tabindex="1" name="student_id" id="student_id">
                                        <option value=""></option>
                                        <%for (let i = 0; i < students.length; i++){%>
                                        <option value="<%= students[i].id%>"><%= students[i].name%>(<%= students[i].student_no%>)</option>
                                        <%}%>
                                    </select>
                                </div>
                            </div>
                            <div class="control-group span3">
                                <label class="control-label">合同编号:</label>
                                <div class="controls">
                                    <input name="contract_no" class="m-wrap span12" type="text" value="<%= condition.contract_no%>">
                                </div>
                            </div>
                            <div class="control-group span3">
                                <label class="control-label">合同属性:</label>
                                <div class="controls">
                                    <select class="span12 select2" tabindex="1" name="attribute" id="attribute">
                                        <option value=""></option>
                                        <option value="0">新签</option>
                                        <option value="1">赠送</option>
                                        <option value="2">续费</option>
                                        <option value="3">结课后新签</option>
                                    </select>
                                </div>
                            </div>
                            <div class="control-group span3">
                                <label class="control-label">合同类型:</label>
                                <div class="controls">
                                    <select class="span12 select2" tabindex="1" name="contract_type" id="contract_type">
                                        <option value=""></option>
                                        <option value="0">常规课程</option>
                                        <option value="1">寒假独立课程</option>
                                        <option value="2">暑假独立课程</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix">
                            <div class="control-group span3">
                                <label class="control-label">年级:</label>
                                <div class="controls">
                                    <select class="span12 select2" tabindex="1" name="grade_id" id="grade_id">
                                        <option value=""></option>
                                        <%for (let i = 0; i < grades.length; i++){%>
                                        <option value="<%= grades[i].id%>"><%= grades[i].name%></option>
                                        <%}%>
                                    </select>
                                </div>
                            </div>
                            <div class="control-group span3">
                                <label class="control-label">起始日期:</label>
                                <div class="controls">
                                    <div class="input-append date date-picker span12" style="padding-right: 56px;">
                                        <input id="start_date_from" name="start_date_from" type="text"
                                               <%if (condition.start_date_from){%>value="<%= dateUtil.dateTimeFormat(condition.start_date_from)%>"<%}%> readonly class="m-wrap span12"/>
                                        <span class="add-on"><i class="icon-remove"></i></span>
                                        <span class="add-on"><i class="icon-calendar"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="control-group span3">
                                <label class="control-label">截止日期:</label>
                                <div class="controls">
                                    <div class="input-append date date-picker span12" style="padding-right: 56px;">
                                        <input id="start_date_to" name="start_date_to" type="text"
                                               <%if (condition.start_date_to){%>value="<%= dateUtil.dateTimeFormat(condition.start_date_to)%>"<%}%> readonly class="m-wrap span12"/>
                                        <span class="add-on"><i class="icon-remove"></i></span>
                                        <span class="add-on"><i class="icon-calendar"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="control-group span3">
                                <label class="control-label">签约人:</label>
                                <div class="controls">
                                    <select class="span12 select2" tabindex="1" name="signer_id" id="signer_id">
                                        <option value=""></option>
                                        <%for (let i = 0; i < signers.length; i++){%>
                                        <option value="<%= signers[i].id%>"><%= signers[i].name%></option>
                                        <%}%>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix">
                            <div class="pull-right">
                                <button class="btn yellow"><i class="icon-search m-icon-white"></i> 搜索</button>
                            </div>
                        </div>
                    </form>
                </div>
                <table class="table table-list table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>合同编号</th>
                        <th>学员(编号)</th>



















                        <th>性别</th>
                        <th>年级</th>
                        <th>联系电话</th>
                        <th>预约上门时间</th>
                        <th>顾问</th>
                        <th>途径</th>
                        <th>审核状态</th>
                        <th>备注</th>
                        <th class="table_action" data-colNum=10>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <%for (let i = 0; i < students.length; i++){%>
                    <tr>
                        <td><%= students[i].student_no%></td>
                        <td><%= students[i].name%></td>
                        <td><%if (students[i].gender == 0){%>男<%} else {%>女<%}%></td>
                        <td><%= gradeMap[students[i].grade_id].name%></td>
                        <td><%= students[i].contact%></td>
                        <td><%= dateUtil.dateTimeFormat(students[i].appointment_time)%></td>
                        <td><% if (students[i].adviser_id) {%><%= adviserMap[students[i].adviser_id].name%><%}%></td>
                        <td><%= sourceMap[students[i].source_id].name%></td>
                        <td><%if (students[i].audit_status == 0){%>未审核<%} else if (students[i].audit_status == 1) {%>已通过<%} else if (students[i].audit_status == 2) {%>未通过<%}%></td>
                        <td><% if (students[i].note){%><%= students[i].note%><%}%></td>
                        <td>
                            <%if (students[i].audit_status == 0){%>
                            <a href="/student/do_audit_student?id=<%= students[i].id%>&audit_status=1" class="btn green mini"><i class="icon-ok"></i> 通过</a>
                            <a href="/student/do_audit_student?id=<%= students[i].id%>&audit_status=2" class="btn red mini"><i class="icon-remove"></i> 不通过</a>
                            <%}%>
                        </td>
                    </tr>
                    <%}%>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<%- contentFor('title')%>
客户审核
<%- contentFor('breadcrumb')%>
<li>
    <i class="icon-angle-right"></i>
    <a href="javascript:void(0);">客户</a>
</li>
<li>
    <i class="icon-angle-right"></i>
    <a href="/student/audit_student_list">客户审核</a>
</li>
<%- contentFor('script')%>
<script>
    $('#grade_id').val('<%= condition.grade_id%>');
    $('#audit_status').val('<%= condition.audit_status%>');
    $('#adviser_id').val('<%= condition.adviser_id%>');
    $('#source_id').val('<%= condition.source_id%>');
</script>