<div class="row-fluid">
    <div class="span12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-reorder"></i>
                </div>
                <div class="actions">
                    <a href="/contract/contract_charge_list" class="btn yellow"><i class="icon-chevron-left"></i> 返回</a>
                </div>
            </div>
            <div class="portlet-body form">
                <form action="/contract/do_update_contract_charge" class="form-horizontal" method="post">
                    <input id="id" name="id" value="<%= contractCharge.id%>" type="hidden">
                    <div class="control-group">
                        <label class="control-label" >合同</label>
                        <div class="controls">
                            <span class="text bold"><%= contract.contract_no%>(<%= student.name%>)</span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">收费日期<span class="required">*</span></label>
                        <div class="controls">
                            <div class="input-append date date-picker">
                                <input id="charge_date" name="charge_date" size="16" type="text" readonly class="m-wrap" value="<%= dateUtil.dateFormat(contractCharge.charge_date)%>"/>
                                <span class="add-on"><i class="icon-remove"></i></span>
                                <span class="add-on"><i class="icon-calendar"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">收费类型<span class="required">*</span></label>
                        <div class="controls">
                            <select class="span6 select2" tabindex="1" name="type_id" id="type_id">
                                <option value="">请选择收费类型</option>
                                <%for (let i = 0; i < types.length; i++){%>
                                <option <%if (contractCharge.type_id == types[i].id){%>selected<%}%> value="<%= types[i].id%>"><%= types[i].name%></option>
                                <%}%>
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">支付方式<span class="required">*</span></label>
                        <div class="controls">
                            <select class="span6 select2" tabindex="1" name="mode_id" id="mode_id">
                                <option value="">请选择支付方式</option>
                                <%for (let i = 0; i < modes.length; i++){%>
                                <option <%if (contractCharge.mode_id == modes[i].id){%>selected<%}%> value="<%= modes[i].id%>"><%= modes[i].name%></option>
                                <%}%>
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">POS单号</label>
                        <div class="controls">
                            <input type="text" class="m-wrap span6" name="pos_no" id="pos_no" value="<%= contractCharge.pos_no%>">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" >收费金额</label>
                        <div class="controls">
                            <span class="text bold"><%= contractCharge.money%></span>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn green"><i class="icon-ok"></i> 提交</button>
                        <button type="button" class="btn" onclick="javascript:history.back(-1);"><i class="icon-remove"></i> 取消</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<%- contentFor('title')%>
编辑收费记录
<%- contentFor('breadcrumb')%>
<li>
    <i class="icon-angle-right"></i>
    <a href="javascript:void(0);">合同</a>
</li>
<li>
    <i class="icon-angle-right"></i>
    <a href="/contract/contract_charge_list">合同收费</a>
</li>
<li>
    <i class="icon-angle-right"></i>
    <a href="/contract/edit_contract_charge?id=<%= contractCharge.id%>">编辑收费记录</a>
</li>
<%- contentFor('script')%>
<script>
    $(function() {
        $('form').validate({
            errorClass: 'help-inline', // default input error message class
            rules: {
                contract_id: {
                    required: true
                },
                charge_date: {
                    required: true
                },
                type_id: {
                    required: true
                },
                mode_id: {
                    required: true
                },
                money: {
                    required: true
                }
            },
            messages: {
                contract_id: {
                    required: "请选择合同"
                },
                charge_date: {
                    required: "请选择收费日期"
                },
                type_id: {
                    required: "请选择收费类型"
                },
                mode_id: {
                    required: "请选择支付方式"
                },
                money: {
                    required: "请输入收费金额"
                }
            },
            errorPlacement: function(error, element) {
                error.appendTo( element.parent() );
            },
            highlight: function (element) { // hightlight error inputs
                $(element)
                    .closest('.help-inline').removeClass('ok'); // display OK icon
                $(element)
                    .closest('.control-group').removeClass('success').addClass('error'); // set error class to the control group
            },
            unhighlight: function (element) { // revert the change dony by hightlight
                $(element)
                    .closest('.control-group').removeClass('error'); // set error class to the control group
            },
            success: function (label) {
                label
                    .addClass('valid').addClass('help-inline ok') // mark the current input as valid and display OK icon
                    .closest('.control-group').removeClass('error').addClass('success'); // set success class to the control group
            }
        });
    });
</script>