<div class="row-fluid">
    <div class="span12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-reorder"></i>
                </div>
                <div class="actions">
                    <a href="/contract/my_contract_list" class="btn yellow"><i class="icon-chevron-left"></i> 返回</a>
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-horizontal form-view">
                    <h3 class="form-section">客户信息</h3>
                    <div class="row-fluid">
                        <div class="span6 ">
                            <div class="control-group">
                                <label class="control-label">客户编号:</label>
                                <div class="controls">
                                    <span class="text bold"><%= student.student_no%></span>
                                </div>
                            </div>
                        </div>
                        <div class="span6 ">
                            <div class="control-group">
                                <label class="control-label">客户姓名:</label>
                                <div class="controls">
                                    <span class="text bold"><%= student.name%></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span6 ">
                            <div class="control-group">
                                <label class="control-label">教育顾问:</label>
                                <div class="controls">
                                    <span class="text bold"><%if (student.adviser_id){%><%= userMap[student.adviser_id].name%><%}%></span>
                                </div>
                            </div>
                        </div>
                        <div class="span6 ">
                            <div class="control-group">
                                <label class="control-label">年级:</label>
                                <div class="controls">
                                    <span class="text bold"><%= gradeMap[student.grade_id].name%></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span6 ">
                            <div class="control-group">
                                <label class="control-label" >性别:</label>
                                <div class="controls">
                                    <span class="text bold"><%if (student.gender == 0){%>男<%} else {%>女<%}%></span>
                                </div>
                            </div>
                        </div>
                        <div class="span6 ">
                            <div class="control-group">
                                <label class="control-label" >出生日期:</label>
                                <div class="controls">
                                    <span class="text bold"><%if (student.birthday){%><%= dateUtil.dateFormat(student.birthday)%><%}%></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span6 ">
                            <div class="control-group">
                                <label class="control-label" >家庭住址:</label>
                                <div class="controls">
                                    <span class="text bold"><%= student.home_address%></span>
                                </div>
                            </div>
                        </div>
                        <div class="span6 ">
                            <div class="control-group">
                                <label class="control-label" >联系电话:</label>
                                <div class="controls">
                                    <span class="text bold"><%= student.contact%></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span12 ">
                            <div class="control-group">
                                <label class="control-label" >备注:</label>
                                <div class="controls">
                                    <span class="text bold"><%= student.note%></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <form action="/contract/do_update_contract" method="post" class="form-horizontal">
                    <input id="id" name="id" value="<%= contract.id%>" type="hidden">
                    <input name="student_id" value="<%= contract.student_id%>" type="hidden">
                    <h3 class="form-section">合同信息</h3>
                    <div class="control-group">
                        <label class="control-label">合同编号<span class="required">*</span></label>
                        <div class="controls">
                            <input type="text" class="m-wrap span6" name="contract_no" id="contract_no" value="<%= contract.contract_no%>">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">合同属性<span class="required">*</span></label>
                        <div class="controls">
                            <select class="span6 select2" tabindex="1" name="attribute_id" id="attribute_id">
                                <%for (let i = 0; i < contractAttributes.length; i++){%>
                                <option value="<%= contractAttributes[i].id%>"><%= contractAttributes[i].name%></option>
                                <%}%>
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">合同类型<span class="required">*</span></label>
                        <div class="controls">
                            <select class="span6 select2" tabindex="1" name="contract_type_id" id="contract_type_id">
                                <%for (let i = 0; i < contractTypes.length; i++){%>
                                <option value="<%= contractTypes[i].id%>"><%= contractTypes[i].name%></option>
                                <%}%>
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">年级<span class="required">*</span></label>
                        <div class="controls">
                            <select class="span6 select2" tabindex="1" name="grade_id" id="grade_id">
                                <option value="">请选择年级</option>
                                <%for (let i = 0; i < grades.length; i++){%>
                                <option value="<%= grades[i].id%>"><%= grades[i].name%></option>
                                <%}%>
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <input id="total_money" name="total_money" value="<%= contract.total_money%>" type="hidden">
                        <label class="control-label">合同金额</label>
                        <div class="controls">
                            <span id="total_money_span" class="text bold"><%= contract.total_money%></span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">已付款<span class="required">*</span></label>
                        <div class="controls">
                            <input type="number" class="m-wrap span6" name="prepay" id="prepay" value="<%= contract.prepay%>" onkeyup="calculateTotal()">
                        </div>
                    </div>
                    <div class="control-group">
                        <input id="left_money" name="left_money" value="<%= contract.left_money%>" type="hidden">
                        <label class="control-label">未付款</label>
                        <div class="controls">
                            <span id="left_money_span" class="text bold"><%= contract.left_money%></span>
                        </div>
                    </div>
                    <div class="control-group">
                        <input id="total_lesson_period" name="total_lesson_period" value="<%= contract.total_lesson_period%>" type="hidden">
                        <label class="control-label">总课时数</label>
                        <div class="controls">
                            <span id="total_lesson_period_span" class="text bold"><%= contract.total_lesson_period%></span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">合同开始日期<span class="required">*</span></label>
                        <div class="controls">
                            <div class="input-append date date-picker">
                                <input id="start_date" name="start_date" size="16" type="text" readonly class="m-wrap" value="<%= dateUtil.dateFormat(contract.start_date)%>"/>
                                <span class="add-on"><i class="icon-remove"></i></span>
                                <span class="add-on"><i class="icon-calendar"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">是否被推荐<span class="required">*</span></label>
                        <div class="controls">
                            <label class="radio">
                                <input type="radio" name="is_recommend" value="0" onclick="showRecommend(0)" <%if (contract.is_recommend=='0') {%>checked<%}%> />否
                            </label>
                            <label class="radio">
                                <input type="radio" name="is_recommend" value="1" onclick="showRecommend(1)" <%if (contract.is_recommend=='1') {%>checked<%}%> />是
                            </label>
                        </div>
                    </div>
                    <div class="control-group" id="recommend_type_div" hidden>
                        <label class="control-label">推荐方式<span class="required">*</span></label>
                        <div class="controls">
                            <input type="text" class="m-wrap span6" name="recommend_type" id="recommend_type" value="<%= contract.recommend_type%>">
                        </div>
                    </div>
                    <div class="control-group" id="recommender_id_div" hidden>
                        <label class="control-label">推荐人<span class="required">*</span></label>
                        <div class="controls">
                            <select class="span6 select2" tabindex="1" name="recommender_id" id="recommender_id">
                                <option value="">请选择推荐人</option>
                                <%for (let i = 0; i < users.length; i++){%>
                                <option value="<%= users[i].id%>"><%= users[i].name%></option>
                                <%}%>
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">续费可能性<span class="required">*</span></label>
                        <div class="controls">
                            <select class="span6 select2" tabindex="1" name="possibility_id" id="possibility_id">
                                <%for (let i = 0; i < possibilities.length; i++){%>
                                <option value="<%= possibilities[i].id%>"><%= possibilities[i].name%></option>
                                <%}%>
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">备注</label>
                        <div class="controls">
                            <textarea name="note" class="span6 m-wrap" rows="3"><%= contract.note%></textarea>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn green"><i class="icon-ok"></i> 提交</button>
                        <button type="button" class="btn" onclick="javascript:history.back(-1);"><i class="icon-remove"></i> 取消</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<%- contentFor('title')%>
修改合同
<%- contentFor('breadcrumb')%>
<li>
    <i class="icon-angle-right"></i>
    <a href="javascript:void(0);">合同</a>
</li>
<li>
    <i class="icon-angle-right"></i>
    <a href="/contract/my_contract_list">合同管理</a>
</li>
<li>
    <i class="icon-angle-right"></i>
    <a href="/contract/edit_contract?id=<%= contract.id%>">修改合同</a>
</li>
<%- contentFor('script')%>
<script>
    $('#attribute_id').val('<%= contract.attribute_id%>');
    $('#contract_type_id').val('<%= contract.contract_type_id%>');
    $('#grade_id').val('<%= contract.grade_id%>');
    $('#recommender_id').val('<%= contract.recommender_id%>');
    $('#possibility_id').val('<%= contract.possibility_id%>');

    let validate = {};
    jQuery(document).ready(function() {
        validator();
    });

    function validator() {
        validate = $('form').validate({
            errorClass: 'help-inline', // default input error message class
            rules: {
                contract_no: {
                    required: true,
                    remote: {
                        url: "/contract/validate_edit_contract_no",     //后台处理程序
                        type: "post",               //数据发送方式
                        dataType: "json",           //接受数据格式
                        data: {                     //要传递的数据
                            id: function() {
                                return $("#id").val();
                            },
                            contract_no: function() {
                                return $("#contract_no").val();
                            }
                        }
                    }
                },
                grade_id: {
                    required: true
                },
                prepay: {
                    required: true
                },
                recommend_type: {
                    required: true
                },
                recommender_id: {
                    required: true
                },
                start_date: {
                    required: true
                }
            },
            messages: {
                contract_no: {
                    required: "请输入合同编号",
                    remote: "合同编号已存在，请重新输入"
                },
                grade_id: {
                    required: "请选择年级"
                },
                prepay: {
                    required: "请输入已付款"
                },
                recommend_type: {
                    required: "请输入推荐方式"
                },
                recommender_id: {
                    required: "请选择推荐人"
                },
                start_date: {
                    required: "请选择合同开始日期"
                }
            },
            errorPlacement: function(error, element) {
                error.appendTo( element.parent() );
            },
            highlight: function (element) { // hightlight error inputs
                $(element)
                    .closest('.help-inline').removeClass('ok'); // display OK icon
                $(element)
                    .closest('.control-group').removeClass('success').addClass('error'); // set error class to the control group
            },
            unhighlight: function (element) { // revert the change dony by hightlight
                $(element)
                    .closest('.control-group').removeClass('error'); // set error class to the control group
            },
            success: function (label) {
                label
                    .addClass('valid').addClass('help-inline ok') // mark the current input as valid and display OK icon
                    .closest('.control-group').removeClass('error').addClass('success'); // set success class to the control group
            }
        });
    }

    function showRecommend(isShow) {
        if (isShow) {
            $('#recommend_type_div').show();
            $('#recommender_id_div').show();
        } else {
            $('#recommend_type_div').hide();
            $('#recommender_id_div').hide();
            $('#recommend_type').val('');
            $('#recommender_id').val('').select2();
        }
    }

    function calculateTotal(element, eleName) {
        if (eleName == 'lesson_period') {
            $(element).val($(element).val().replace(/[^0-9]+/,''));
        }
        //计算未付款
        let leftMoney = parseFloat($('#total_money').val()) - (($('#prepay').val()!='')?parseFloat($('#prepay').val()):0);
        if (!leftMoney) {
            leftMoney = 0;
        }
        let leftDecimalStr = leftMoney.toString().split('.')[1];
        if (leftDecimalStr && leftDecimalStr.length > 2) {
            leftMoney = leftMoney.toFixed(2);
        }

        //刷新页面各个值
        $('#left_money_span').html(leftMoney);
        $('#left_money').val(leftMoney);
    }
</script>