<div class="row-fluid">
    <div class="span12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-reorder"></i>
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-horizontal form-view">
                    <h3 class="form-section">客户信息</h3>
                    <div class="row-fluid">
                        <div class="span6 ">
                            <div class="control-group">
                                <label class="control-label">客户编号:</label>
                                <div class="controls">
                                    <span class="text bold"><%= student.student_no%></span>
                                </div>
                            </div>
                        </div>
                        <div class="span6 ">
                            <div class="control-group">
                                <label class="control-label">客户姓名:</label>
                                <div class="controls">
                                    <span class="text bold"><%= student.name%></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span6 ">
                            <div class="control-group">
                                <label class="control-label" for="lastName">教育顾问:</label>
                                <div class="controls">
                                    <span class="text bold"><%if (student.adviser_id){%><%= adviserMap[student.adviser_id].name%><%}%></span>
                                </div>
                            </div>
                        </div>
                        <div class="span6 ">
                            <div class="control-group">
                                <label class="control-label" for="lastName">年级:</label>
                                <div class="controls">
                                    <span class="text bold"><%= gradeMap[student.grade_id].name%></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span6 ">
                            <div class="control-group">
                                <label class="control-label" >性别:</label>
                                <div class="controls">
                                    <span class="text bold"><%if (student.gender == 0){%>男<%} else {%>女<%}%></span>
                                </div>
                            </div>
                        </div>
                        <div class="span6 ">
                            <div class="control-group">
                                <label class="control-label" >出生日期:</label>
                                <div class="controls">
                                    <span class="text bold"><%if (student.birthday){%><%= dateUtil.dateFormat(student.birthday)%><%}%></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span6 ">
                            <div class="control-group">
                                <label class="control-label" >家庭住址:</label>
                                <div class="controls">
                                    <span class="text bold"><%= student.home_address%></span>
                                </div>
                            </div>
                        </div>
                        <div class="span6 ">
                            <div class="control-group">
                                <label class="control-label" >联系电话:</label>
                                <div class="controls">
                                    <span class="text bold"><%= student.contact%></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span12 ">
                            <div class="control-group">
                                <label class="control-label" >备注:</label>
                                <div class="controls">
                                    <span class="text bold"><%= student.note%></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <form action="/contract/do_create_contract" method="post" class="form-horizontal">
                    <input name="id" value="<%= student.id%>" type="hidden">
                    <h3 class="form-section">合同信息</h3>
                    <div class="control-group">
                        <label class="control-label">合同编号<span class="required">*</span></label>
                        <div class="controls">
                            <input type="text" class="m-wrap span6" name="contract_no" id="contract_no">
                        </div>
                    </div>



                    <div class="control-group">
                        <label class="control-label">顾问<span class="required">*</span></label>
                        <div class="controls">
                            <select class="span6 select2" tabindex="1" name="adviser_id" id="adviser_id">
                                <option value="">请选择顾问</option>
                                <%for (let i = 0; i < advisers.length; i++){%>
                                <option value="<%= advisers[i].id%>"><%= advisers[i].name%></option>
                                <%}%>
                            </select>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn green"><i class="icon-ok"></i> 提交</button>
                        <button type="button" class="btn" onclick="javascript:history.back(-1);"><i class="icon-remove"></i> 取消</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<%- contentFor('title')%>
新增合同
<%- contentFor('breadcrumb')%>
<li>
    <i class="icon-angle-right"></i>
    <a href="javascript:void(0);">客户</a>
</li>
<li>
    <i class="icon-angle-right"></i>
    <a href="/student/student_list">客户管理</a>
</li>
<li>
    <i class="icon-angle-right"></i>
    <a href="/contract/new_contract?id=<%= student.id%>">新增合同</a>
</li>
<%- contentFor('script')%>
<script>
    jQuery(document).ready(function() {
        $('form').validate({
            errorElement: 'span', //default input error message container
            errorClass: 'help-inline', // default input error message class
            focusInvalid: false, // do not focus the last invalid input
            rules: {
                contract_no: {
                    required: true,
                    remote: {
                        url: "/contract/validate_contract_no",     //后台处理程序
                        type: "post",               //数据发送方式
                        dataType: "json",           //接受数据格式
                        data: {                     //要传递的数据
                            contract_no: function() {
                                return $("#contract_no").val();
                            }
                        }
                    }
                }
            },
            messages: {
                contract_no: {
                    required: "请输入合同编号",
                    remote: "合同编号已存在，请重新输入"
                }
            },
            errorPlacement: function(error, element) {
                error.appendTo( element.parents(".controls") );
            },
            highlight: function (element) { // hightlight error inputs
                $(element)
                    .closest('.help-inline').removeClass('ok'); // display OK icon
                $(element)
                    .closest('.control-group').removeClass('success').addClass('error'); // set error class to the control group
            },
            unhighlight: function (element) { // revert the change dony by hightlight
                $(element)
                    .closest('.control-group').removeClass('error'); // set error class to the control group
            },
            success: function (label) {
                label
                    .addClass('valid').addClass('help-inline ok') // mark the current input as valid and display OK icon
                    .closest('.control-group').removeClass('error').addClass('success'); // set success class to the control group
            }
        });
    });
</script>