<div class="row-fluid">
    <div class="span12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-reorder"></i>
                </div>
                <div class="actions">
                    <a href="/contract/contract_refund_list" class="btn yellow"><i class="icon-chevron-left"></i> 返回</a>
                </div>
            </div>
            <div class="portlet-body form">
                <form action="/contract/do_create_contract_refund" class="form-horizontal" method="post">
                    <div class="control-group">
                        <label class="control-label">合同<span class="required">*</span></label>
                        <div class="controls">
                            <select class="span6 select2" tabindex="1" name="contract_id" id="contract_id">
                                <option value="">请选择合同</option>
                                <%for (let i = 0; i < contracts.length; i++){%>
                                <option value="<%= contracts[i].id%>"><%= contracts[i].contract_no%>(<%= studentMap[contracts[i].student_id].name%>)</option>
                                <%}%>
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">退费日期<span class="required">*</span></label>
                        <div class="controls">
                            <div class="input-append date date-picker">
                                <input id="refund_date" name="refund_date" size="16" type="text" readonly class="m-wrap"/>
                                <span class="add-on"><i class="icon-remove"></i></span>
                                <span class="add-on"><i class="icon-calendar"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">退费金额<span class="required">*</span></label>
                        <div class="controls">
                            <input type="number" class="m-wrap span6" name="money" id="money">
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn green"><i class="icon-ok"></i> 提交</button>
                        <button type="button" class="btn" onclick="javascript:history.back(-1);"><i class="icon-remove"></i> 取消</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<%- contentFor('title')%>
新增退费记录
<%- contentFor('breadcrumb')%>
<li>
    <i class="icon-angle-right"></i>
    <a href="javascript:void(0);">学员</a>
</li>
<li>
    <i class="icon-angle-right"></i>
    <a href="/contract/contract_refund_list">合同退费</a>
</li>
<li>
    <i class="icon-angle-right"></i>
    <a href="/contract/new_contract_refund">新增退费记录</a>
</li>
<%- contentFor('script')%>
<script>
    $(function() {
        $('form').validate({
            errorClass: 'help-inline', // default input error message class
            rules: {
                contract_id: {
                    required: true
                },
                refund_date: {
                    required: true
                },
                money: {
                    required: true
                }
            },
            messages: {
                contract_id: {
                    required: "请选择合同"
                },
                refund_date: {
                    required: "请选择收费日期"
                },
                money: {
                    required: "请输入收费金额"
                }
            },
            errorPlacement: function(error, element) {
                error.appendTo( element.parent() );
            },
            highlight: function (element) { // hightlight error inputs
                $(element)
                    .closest('.help-inline').removeClass('ok'); // display OK icon
                $(element)
                    .closest('.control-group').removeClass('success').addClass('error'); // set error class to the control group
            },
            unhighlight: function (element) { // revert the change dony by hightlight
                $(element)
                    .closest('.control-group').removeClass('error'); // set error class to the control group
            },
            success: function (label) {
                label
                    .addClass('valid').addClass('help-inline ok') // mark the current input as valid and display OK icon
                    .closest('.control-group').removeClass('error').addClass('success'); // set success class to the control group
            }
        });
    });
</script>