<div class="row-fluid">
    <div class="span12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-reorder"></i>
                </div>
                <div class="actions">
                    <a href="/student/visit_record_list?student_id=<%= student_id%>" class="btn yellow"><i class="icon-chevron-left"></i> 返回</a>
                </div>
            </div>
            <div class="portlet-body form">
                <form action="/student/do_update_visit_record" class="form-horizontal" method="post">
                    <input id="student_id" name="student_id" value="<%= student_id%>" type="hidden">
                    <input id="id" name="id" value="<%= visitRecord.id%>" type="hidden">
                    <div class="control-group">
                        <label class="control-label">到访时间<span class="required">*</span></label>
                        <div class="controls">
                            <div class="input-append date form_datetime">
                                <input id="arrive_time" name="arrive_time" size="16" type="text" readonly class="m-wrap" value="<%= dateUtil.dateFormat(visitRecord.arrive_time)%>"/>
                                <span class="add-on"><i class="icon-remove"></i></span>
                                <span class="add-on"><i class="icon-calendar"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">离开时间<span class="required">*</span></label>
                        <div class="controls">
                            <div class="input-append date form_datetime">
                                <input id="leave_time" name="leave_time" size="16" type="text" readonly class="m-wrap" value="<%= dateUtil.dateFormat(visitRecord.leave_time)%>"/>
                                <span class="add-on"><i class="icon-remove"></i></span>
                                <span class="add-on"><i class="icon-calendar"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">签约可能性<span class="required">*</span></label>
                        <div class="controls">
                            <select class="span6 select2"  data-placeholder="请选择签约可能性" tabindex="1" name="possibility" id="possibility">
                                <option <%if (visitRecord.possibility == 0){%>selected<%}%> value="0">大</option>
                                <option <%if (visitRecord.possibility == 1){%>selected<%}%> value="1">一般</option>
                                <option <%if (visitRecord.possibility == 2){%>selected<%}%> value="2">小</option>
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">到访记录<span class="required">*</span></label>
                        <div class="controls">
                            <textarea id="content" name="content" class="span6 m-wrap" rows="3"><%= visitRecord.content%></textarea>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn green"><i class="icon-ok"></i> 提交</button>
                        <button type="button" class="btn" onclick="javascript:history.back(-1);"><i class="icon-remove"></i> 取消</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<%- contentFor('title')%>
新增到访记录
<%- contentFor('breadcrumb')%>
<li>
    <i class="icon-angle-right"></i>
    <a href="javascript:void(0);">客户</a>
</li>
<li>
    <i class="icon-angle-right"></i>
    <a href="/student/follow_student_list">客户追踪</a>
</li>
<li>
    <i class="icon-angle-right"></i>
    <a href="/student/visit_record_list?student_id=<%= student_id%>">到访记录</a>
</li>
<li>
    <i class="icon-angle-right"></i>
    <a href="/student/edit_visit_record?id=<%= visitRecord.id%>">编辑到访记录</a>
</li>
<%- contentFor('script')%>
<script>
    jQuery(document).ready(function() {
        $('form').validate({
            errorElement: 'span', //default input error message container
            errorClass: 'help-inline', // default input error message class
            focusInvalid: false, // do not focus the last invalid input
            rules: {
                arrive_time: {
                    required: true
                },
                leave_time: {
                    required: true
                },
                possibility: {
                    required: true
                },
                content: {
                    required: true
                }
            },
            messages: {
                arrive_time: {
                    required: "请选择到访时间"
                },
                leave_time: {
                    required: "请选择离开时间"
                },
                possibility: {
                    required: "请选择签约可能性"
                },
                content: {
                    required: "请输入到访记录"
                }
            },
            errorPlacement: function(error, element) {
                error.appendTo( element.parents(".controls") );
            },
            highlight: function (element) { // hightlight error inputs
                $(element)
                    .closest('.help-inline').removeClass('ok'); // display OK icon
                $(element)
                    .closest('.control-group').removeClass('success').addClass('error'); // set error class to the control group
            },
            unhighlight: function (element) { // revert the change dony by hightlight
                $(element)
                    .closest('.control-group').removeClass('error'); // set error class to the control group
            },
            success: function (label) {
                label
                    .addClass('valid').addClass('help-inline ok') // mark the current input as valid and display OK icon
                    .closest('.control-group').removeClass('error').addClass('success'); // set success class to the control group
            }
        });
    });
</script>