<div class="row-fluid">
    <div class="span12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-reorder"></i>
                </div>
                <div class="actions">
                    <a href="/student/test_score_list" class="btn yellow"><i class="icon-chevron-left"></i> 返回</a>
                </div>
            </div>
            <div class="portlet-body form">
                <form action="/student/do_update_test_score" class="form-horizontal" method="post">
                    <input id="id" name="id" value="<%= testScore.id%>" type="hidden">
                    <div class="control-group">
                        <label class="control-label" >学员</label>
                        <div class="controls">
                            <span class="text bold"><%= student.name%>(<%= student.student_no%>)</span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">学年<span class="required">*</span></label>
                        <div class="controls">
                            <input type="text" class="m-wrap span6" name="school_year" id="school_year" value="<%= testScore.school_year%>">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">年级<span class="required">*</span></label>
                        <div class="controls">
                            <select class="span6 select2" tabindex="1" name="grade_id" id="grade_id">
                                <option value="">请选择年级</option>
                                <%for (let i = 0; i < grades.length; i++){%>
                                <option <%if (testScore.grade_id == grades[i].id){%>selected<%}%> value="<%= grades[i].id%>"><%= grades[i].name%></option>
                                <%}%>
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">考试日期<span class="required">*</span></label>
                        <div class="controls">
                            <div class="input-append date date-picker">
                                <input id="test_date" name="test_date" size="16" type="text" readonly class="m-wrap" value="<%= dateUtil.dateFormat(testScore.test_date)%>"/>
                                <span class="add-on"><i class="icon-remove"></i></span>
                                <span class="add-on"><i class="icon-calendar"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">校考类型<span class="required">*</span></label>
                        <div class="controls">
                            <select class="span6 select2" tabindex="1" name="type_id" id="type_id">
                                <option value="">请选择校考类型</option>
                                <%for (let i = 0; i < types.length; i++){%>
                                <option <%if (testScore.type_id == types[i].id){%>selected<%}%> value="<%= types[i].id%>"><%= types[i].name%></option>
                                <%}%>
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">班级人数</label>
                        <div class="controls">
                            <input type="text" class="m-wrap span6" name="class_size" id="class_size" value="<%= testScore.class_size%>">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">中/高考录取学校</label>
                        <div class="controls">
                            <input type="text" class="m-wrap span6" name="enroll_school" id="enroll_school" value="<%= testScore.enroll_school%>">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">科目<span class="required">*</span></label>
                        <div class="controls">
                            <select class="span6 select2" tabindex="1" name="subject_id" id="subject_id">
                                <option value="">请选择科目</option>
                                <%for (let i = 0; i < subjects.length; i++){%>
                                <option <%if (testScore.subject_id == subjects[i].id){%>selected<%}%> value="<%= subjects[i].id%>"><%= subjects[i].name%></option>
                                <%}%>
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">卷面分<span class="required">*</span></label>
                        <div class="controls">
                            <input type="number" class="m-wrap span6" name="score" id="score" value="<%= testScore.score%>">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">总分<span class="required">*</span></label>
                        <div class="controls">
                            <input type="number" class="m-wrap span6" name="total_score" id="total_score" value="<%= testScore.total_score%>">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">班级排名</label>
                        <div class="controls">
                            <input type="number" class="m-wrap span6" name="class_rank" id="class_rank" value="<%= testScore.class_rank%>">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">辅导老师评价<span class="required">*</span></label>
                        <div class="controls">
                            <textarea name="teacher_assess" class="span6 m-wrap" rows="3"><%= testScore.teacher_assess%></textarea>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">家长评价</label>
                        <div class="controls">
                            <textarea name="parents_assess" class="span6 m-wrap" rows="3"><%= testScore.parents_assess%></textarea>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">班主任评价</label>
                        <div class="controls">
                            <textarea name="headmaster_assess" class="span6 m-wrap" rows="3"><%= testScore.headmaster_assess%></textarea>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn green"><i class="icon-ok"></i> 提交</button>
                        <button type="button" class="btn" onclick="javascript:history.back(-1);"><i class="icon-remove"></i> 取消</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<%- contentFor('title')%>
编辑校考反馈
<%- contentFor('breadcrumb')%>
<li>
    <i class="icon-angle-right"></i>
    <a href="javascript:void(0);">学员</a>
</li>
<li>
    <i class="icon-angle-right"></i>
    <a href="/student/test_score_list">校考反馈</a>
</li>
<li>
    <i class="icon-angle-right"></i>
    <a href="/student/edit_test_score?id=<%= testScore.id%>">编辑校考反馈</a>
</li>
<%- contentFor('script')%>
<script>
    $(function() {
        $('form').validate({
            errorClass: 'help-inline', // default input error message class
            rules: {
                student_id: {
                    required: true
                },
                school_year: {
                    required: true
                },
                grade_id: {
                    required: true
                },
                test_date: {
                    required: true
                },
                type_id: {
                    required: true
                },
                subject_id: {
                    required: true
                },
                score: {
                    digits: true,
                    required: true
                },
                total_score: {
                    digits: true,
                    required: true
                },
                class_rank: {
                    digits: true
                },
                teacher_assess: {
                    required: true
                }
            },
            messages: {
                student_id: {
                    required: "请选择学员"
                },
                school_year: {
                    required: "请选输入学年"
                },
                grade_id: {
                    required: "请选择年级"
                },
                test_date: {
                    required: "请选择考试日期"
                },
                type_id: {
                    required: "请选择校考类型"
                },
                subject_id: {
                    required: "请选择科目"
                },
                score: {
                    digits: "请输入数字",
                    required: "请选输入卷面分"
                },
                total_score: {
                    digits: "请输入数字",
                    required: "请选输入总分"
                },
                class_rank: {
                    digits: "请输入数字"
                },
                teacher_assess: {
                    required: "请输入辅导老师评价"
                }
            },
            errorPlacement: function(error, element) {
                error.appendTo( element.parents('.controls') );
            },
            highlight: function (element) { // hightlight error inputs
                $(element)
                    .closest('.help-inline').removeClass('ok'); // display OK icon
                $(element)
                    .closest('.control-group').removeClass('success').addClass('error'); // set error class to the control group
            },
            unhighlight: function (element) { // revert the change dony by hightlight
                $(element)
                    .closest('.control-group').removeClass('error'); // set error class to the control group
            },
            success: function (label) {
                label
                    .addClass('valid').addClass('help-inline ok') // mark the current input as valid and display OK icon
                    .closest('.control-group').removeClass('error').addClass('success'); // set success class to the control group
            }
        });
    });
</script>