<div class="row-fluid profile">
    <div class="span12">
        <div class="tabbable tabbable-custom tabbable-full-width">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#base_info" data-toggle="tab">基本信息</a></li>
                <li><a href="#course_schedule_log" data-toggle="tab">排课记录</a></li>
                <li><a href="#contract" data-toggle="tab">合同列表</a></li>
                <li><a href="#refund_log" data-toggle="tab">退费记录</a></li>
                <li><a href="#revisit_record" data-toggle="tab">回访记录</a></li>
                <li><a href="#parents_meeting" data-toggle="tab">家长会</a></li>
                <li><a href="#test_score" data-toggle="tab">校考成绩</a></li>
                <li><a href="#warning_record" data-toggle="tab">预警记录</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane row-fluid active" id="base_info">
                    <div class="form-horizontal form-view">
                        <div class="row-fluid">
                            <div class="span4 ">
                                <div class="control-group">
                                    <label class="control-label">学员编号:</label>
                                    <div class="controls">
                                        <span class="text bold"><%= student.student_no%></span>
                                    </div>
                                </div>
                            </div>
                            <div class="span4 ">
                                <div class="control-group">
                                    <label class="control-label">姓名:</label>
                                    <div class="controls">
                                        <span class="text bold"><%= student.name%></span>
                                    </div>
                                </div>
                            </div>
                            <div class="span4 ">
                                <div class="control-group">
                                    <label class="control-label">性别:</label>
                                    <div class="controls">
                                        <span class="text bold"><%if (student.gender == 0){%>男<%} else {%>女<%}%></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span4 ">
                                <div class="control-group">
                                    <label class="control-label">年级:</label>
                                    <div class="controls">
                                        <span class="text bold"><%= gradeMap[student.grade_id].name%></span>
                                    </div>
                                </div>
                            </div>
                            <div class="span4 ">
                                <div class="control-group">
                                    <label class="control-label">就读学校:</label>
                                    <div class="controls">
                                        <span class="text bold"><%= student.school%></span>
                                    </div>
                                </div>
                            </div>
                            <div class="span4 ">
                                <div class="control-group">
                                    <label class="control-label">出生日期:</label>
                                    <div class="controls">
                                        <span class="text bold"><% if (student.birthday) {%><%= dateUtil.dateFormat(student.birthday)%><%}%></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span4 ">
                                <div class="control-group">
                                    <label class="control-label">家长姓名:</label>
                                    <div class="controls">
                                        <span class="text bold"><%= student.parent_name%></span>
                                    </div>
                                </div>
                            </div>
                            <div class="span4 ">
                                <div class="control-group">
                                    <label class="control-label">联系电话:</label>
                                    <div class="controls">
                                        <span class="text bold"><%= student.contact%></span>
                                    </div>
                                </div>
                            </div>
                            <div class="span4 ">
                                <div class="control-group">
                                    <label class="control-label">联系电话2:</label>
                                    <div class="controls">
                                        <span class="text bold"><%= student.contact2%></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span4 ">
                                <div class="control-group">
                                    <label class="control-label">家长关系:</label>
                                    <div class="controls">
                                        <span class="text bold"><%= student.relationship%></span>
                                    </div>
                                </div>
                            </div>
                            <div class="span4 ">
                                <div class="control-group">
                                    <label class="control-label">电子邮件:</label>
                                    <div class="controls">
                                        <span class="text bold"><% if (student.email) {%><%= student.email%><%}%></span>
                                    </div>
                                </div>
                            </div>
                            <div class="span4 ">
                                <div class="control-group">
                                    <label class="control-label">学员状态:</label>
                                    <div class="controls">
                                        <span class="text bold"><% if (student.status_id) {%><%= studentStatusMap[student.status_id].name%><%}%></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span4 ">
                                <div class="control-group">
                                    <label class="control-label">需辅导科目:</label>
                                    <div class="controls">
                                        <span class="text bold"><% if (student.subjects) {%><%= student.subjects%><%}%></span>
                                    </div>
                                </div>
                            </div>
                            <div class="span4 ">
                                <div class="control-group">
                                    <label class="control-label">从何得知:</label>
                                    <div class="controls">
                                        <span class="text bold"><% if (student.how_know_id) {%><%= howKnowMap[student.how_know_id].name%><%}%></span>
                                    </div>
                                </div>
                            </div>
                            <div class="span4 ">
                                <div class="control-group">
                                    <label class="control-label">途径:</label>
                                    <div class="controls">
                                        <span class="text bold"><%= sourceMap[student.source_id].name%></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span4 ">
                                <div class="control-group">
                                    <label class="control-label">续费可能性:</label>
                                    <div class="controls">
                                        <span class="text bold"><% if (student.possibility_id) {%><%= possibilityMap[student.possibility_id].name%><%}%></span>
                                    </div>
                                </div>
                            </div>
                            <div class="span4 ">
                                <div class="control-group">
                                    <label class="control-label">教育顾问:</label>
                                    <div class="controls">
                                        <span class="text bold"><% if (student.adviser_id) {%><%= userMap[student.adviser_id].name%><%}%></span>
                                    </div>
                                </div>
                            </div>
                            <div class="span4 ">
                                <div class="control-group">
                                    <label class="control-label">班主任:</label>
                                    <div class="controls">
                                        <span class="text bold"><% if (student.headmaster_id) {%><%= userMap[student.headmaster_id].name%><%}%></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span12 ">
                                <div class="control-group">
                                    <label class="control-label">家庭住址:</label>
                                    <div class="controls">
                                        <span class="text bold"><%= student.home_address%></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span12 ">
                                <div class="control-group">
                                    <label class="control-label">备注:</label>
                                    <div class="controls">
                                        <span class="text bold"><%= student.note%></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane profile-classic row-fluid" id="course_schedule_log">
                </div>

                <div class="tab-pane row-fluid profile-account" id="contract">
                    <div class="row-fluid">
                        <div class="span12">
                            <table class="table table-list table-striped table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>合同编号</th>
                                    <th>学员(编号)</th>
                                    <th>合同属性</th>
                                    <th>合同类型</th>
                                    <th>年级</th>
                                    <th>合同金额</th>
                                    <th>未付款</th>
                                    <th>合同开始日期</th>
                                    <th>签约人</th>
                                    <th>合同状态</th>
                                    <th class="table_action" data-colNum=10>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <%for (let i = 0; i < contracts.length; i++){%>
                                <tr>
                                    <td><%= contracts[i].contract_no%></td>
                                    <td><%= student.name%>(<%= student.student_no%>)</td>
                                    <td><%= contractAttributeMap[contracts[i].attribute_id].name%></td>
                                    <td><%= contractTypeMap[contracts[i].contract_type_id].name%></td>
                                    <td><%= gradeMap[contracts[i].grade_id].name%></td>
                                    <td><%= contracts[i].total_money%></td>
                                    <td><%= contracts[i].left_money%></td>
                                    <td><%= dateUtil.dateFormat(contracts[i].start_date)%></td>
                                    <td><%= userMap[contracts[i].signer_id].name%></td>
                                    <td><%= contractStatusMap[contracts[i].status_id].name%></td>
                                    <td>
                                        <a href="/contract/contract_view?id=<%= contracts[i].id%>" class="btn yellow mini"><i class="icon-info-sign"></i> 查看详情</a>
                                        <% if (contracts[i].status_id != '01' && contracts[i].status_id != '03') {%>
                                        <a href="/contract/contract_detail_log?id=<%= contracts[i].id%>" class="btn yellow mini"><i class="icon-time"></i> 变更记录</a>
                                        <%}%>
                                    </td>
                                </tr>
                                <%}%>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="tab-pane" id="refund_log">
                </div>
                
                <div class="tab-pane row-fluid" id="revisit_record">
                    <div class="row-fluid">
                        <div class="span12">
                            <table class="table table-list table-striped table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>学员(编号)</th>
                                    <th>回访方式</th>
                                    <th>回访日期</th>
                                    <th>回访对象</th>
                                    <th>回访类型</th>
                                    <th>创建时间</th>
                                    <th>操作人</th>
                                    <th class="table_action" data-colNum=7>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <%for (let i = 0; i < revisitRecords.length; i++){%>
                                <tr>
                                    <td><%= student.name%>(<%= student.student_no%>)</td>
                                    <td><%= modeMap[revisitRecords[i].mode_id].name%></td>
                                    <td><%= dateUtil.dateFormat(revisitRecords[i].visit_date)%></td>
                                    <td><%= revisitRecords[i].target%></td>
                                    <td><%= rrTypeMap[revisitRecords[i].type_id].name%></td>
                                    <td><%= dateUtil.dateTimeFormat(revisitRecords[i].create_at)%></td>
                                    <td><%= revisitRecords[i].operator%></td>
                                    <td>
                                        <a href="/student/revisit_record_detail?id=<%= revisitRecords[i].id%>" class="btn yellow mini"><i class="icon-info-sign"></i> 查看详情</a>
                                    </td>
                                </tr>
                                <%}%>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="tab-pane row-fluid" id="parents_meeting">
                    <div class="row-fluid">
                        <div class="span12">
                            <table class="table table-list table-striped table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>学员(编号)</th>
                                    <th>召开时间</th>
                                    <th>学员目前学习情况</th>
                                    <th>家长问题反馈与意见</th>
                                    <th>解决建议与行动方案</th>
                                    <th>操作人</th>
                                    <th class="table_action" data-colNum=6>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <%for (let i = 0; i < parentsMeetings.length; i++){%>
                                <tr>
                                    <td><%= student.name%>(<%= student.student_no%>)</td>
                                    <td><%= dateUtil.dateTimeMinuteFormat(parentsMeetings[i].start_time)%></td>
                                    <td><%= parentsMeetings[i].situation%></td>
                                    <td><%= parentsMeetings[i].suggestion%></td>
                                    <td><%= parentsMeetings[i].solution%></td>
                                    <td><%= parentsMeetings[i].operator%></td>
                                    <td>
                                        <a href="/student/parents_meeting_detail?id=<%= parentsMeetings[i].id%>&where_from=student_detail" class="btn yellow mini"><i class="icon-info-sign"></i> 查看详情</a>
                                    </td>
                                </tr>
                                <%}%>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="tab-pane row-fluid" id="test_score">
                    <div class="row-fluid">
                        <div class="span12">
                            <table class="table table-list table-striped table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>学员(编号)</th>
                                    <th>考试时间</th>
                                    <th>学校</th>
                                    <th>年级</th>
                                    <th>科目</th>
                                    <th>学科老师</th>
                                    <th>学年</th>
                                    <th>校考类型</th>
                                    <th>卷面分(总分)</th>
                                    <th class="table_action" data-colNum=9>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <%for (let i = 0; i < testScores.length; i++){%>
                                <tr>
                                    <td><%= student.name%>(<%= student.student_no%>)</td>
                                    <td><%= dateUtil.dateFormat(testScores[i].test_date)%></td>
                                    <td><%= student.school%></td>
                                    <td><%= gradeMap[testScores[i].grade_id].name%></td>
                                    <td><%= subjectMap[testScores[i].subject_id].name%></td>
                                    <td></td>
                                    <td><%= testScores[i].school_year%></td>
                                    <td><%= testScoreTypeMap[testScores[i].type_id].name%></td>
                                    <td><%= testScores[i].score%>(<%= testScores[i].total_score%>)</td>
                                    <td>
                                        <a href="/student/test_score_detail?id=<%= testScores[i].id%>" class="btn yellow mini"><i class="icon-info-sign"></i> 查看详情</a>
                                    </td>
                                </tr>
                                <%}%>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="tab-pane row-fluid" id="warning_record">
                    <div class="form-horizontal form-view">
                        <div class="row-fluid">
                            <div class="span6 ">
                                <div class="control-group">
                                    <label class="control-label">预警级别:</label>
                                    <div class="controls">
                                        <span class="text bold"><%if (student.warning_id) {%><%= warningMap[student.warning_id].name%><%}%></span>
                                    </div>
                                </div>
                            </div>
                            <div class="span6 ">
                                <div class="control-group">
                                    <label class="control-label">预警原因:</label>
                                    <div class="controls">
                                        <span class="text bold"><%= student.warning_reason%></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- contentFor('title')%>
学员详情
<%- contentFor('breadcrumb')%>
<li>
    <i class="icon-angle-right"></i>
    <a href="javascript:void(0);">学员</a>
</li>
<li>
    <i class="icon-angle-right"></i>
    <a href="/student/signed_student_list">学员管理</a>
</li>
<li>
    <i class="icon-angle-right"></i>
    <a href="/student/student_details?id=<%= student.id%>">学员详情</a>
</li>
<%- contentFor('script')%>