<div class="row-fluid">
    <div class="span12">
        <div class="portlet box purple">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-reorder"></i>
                </div>
                <div class="actions">
                    <a href="/student/follow_student_list" class="btn yellow"><i class="icon-chevron-left"></i> 返回</a>
                    <a href="/student/new_student_tracking?student_id=<%= student.id%>" class="btn green"><i class="icon-plus"></i> 新增记录</a>
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-horizontal form-view">
                    <h3 class="form-section">客户信息</h3>
                    <div class="row-fluid">
                        <div class="span6 ">
                            <div class="control-group">
                                <label class="control-label">客户姓名:</label>
                                <div class="controls">
                                    <span class="text bold"><%= student.name%></span>
                                </div>
                            </div>
                        </div>
                        <div class="span6 ">
                            <div class="control-group">
                                <label class="control-label">年级:</label>
                                <div class="controls">
                                    <span class="text bold"><%= gradeMap[student.grade_id].name%></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span6 ">
                            <div class="control-group">
                                <label class="control-label" >性别:</label>
                                <div class="controls">
                                    <span class="text bold"><%if (student.gender == 0){%>男<%} else {%>女<%}%></span>
                                </div>
                            </div>
                        </div>
                        <div class="span6 ">
                            <div class="control-group">
                                <label class="control-label" >预约上门时间:</label>
                                <div class="controls">
                                    <span class="text bold"><%= dateUtil.dateTimeFormat(student.appointment_time)%></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span6 ">
                            <div class="control-group">
                                <label class="control-label" >联系电话:</label>
                                <div class="controls">
                                    <span class="text bold"><%= student.contact%></span>
                                </div>
                            </div>
                        </div>
                        <div class="span6 ">
                            <div class="control-group">
                                <label class="control-label" >途径:</label>
                                <div class="controls">
                                    <span class="text bold"><%= sourceMap[student.source_id].name%></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span12 ">
                            <div class="control-group">
                                <label class="control-label" >备注:</label>
                                <div class="controls">
                                    <span class="text bold"><% if (student.note){%><%= student.note%><%}%></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h3 class="form-section">追踪记录</h3>
                    <table class="table table-list table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>追踪人</th>
                            <th>追踪日期</th>
                            <th>追踪方式</th>
                            <th>追踪结果</th>
                            <th>签约可能性</th>
                            <th>下次追踪日期</th>
                            <th>追踪记录</th>
                            <th class="table_action" data-colNum=7>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <%for (let i = 0; i < studentTrackings.length; i++){%>
                        <tr>
                            <td><%= trackerMap[studentTrackings[i].tracker_id].name%></td>
                            <td><%= dateUtil.dateFormat(studentTrackings[i].track_date)%></td>
                            <td><%= channelMap[studentTrackings[i].channel_id].name%></td>
                            <td><%= resultMap[studentTrackings[i].result_id].name%></td>
                            <td><%= possibilityMap[studentTrackings[i].possibility_id].name%></td>
                            <td><%if (studentTrackings[i].next_track_date){%><%= dateUtil.dateFormat(studentTrackings[i].next_track_date)%><%}%></td>
                            <td><%= studentTrackings[i].content%></td>
                            <td>
                                <a href="/student/edit_student_tracking?id=<%= studentTrackings[i].id%>&student_id=<%= student.id%>" class="btn blue mini"><i class="icon-pencil"></i> 编辑</a>
                                <a data-toggle="modal" data-target="#confirm" data-id="<%= studentTrackings[i].id%>" class="btn red mini"><i class="icon-minus"></i> 删除</a>
                            </td>
                        </tr>
                        <%}%>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="confirm" class="modal hide fade" tabindex="-1" data-backdrop="static">
    <div class="modal-body">
        <p>确定删除此条记录吗?</p>
    </div>
    <div class="modal-footer">
        <form action="/student/delete_student_tracking">
            <input id="id" name="id" hidden>
            <input id="student_id" name="student_id" value="<%= student.id%>" type="hidden">
            <button type="button" data-dismiss="modal" class="btn">取消</button>
            <button type="submit" class="btn green">确认</button>
        </form>
    </div>
</div>
<%- contentFor('title')%>
追踪记录
<%- contentFor('breadcrumb')%>
<li>
    <i class="icon-angle-right"></i>
    <a href="javascript:void(0);">客户</a>
</li>
<li>
    <i class="icon-angle-right"></i>
    <a href="/student/follow_student_list">客户追踪</a>
</li>
<li>
    <i class="icon-angle-right"></i>
    <a href="/student/student_tracking_list?student_id=<%= student.id%>">追踪记录</a>
</li>
<%- contentFor('script')%>
<script>
    $(function() {
        $('#confirm').on('show.bs.modal', function (event) {
            let button = $(event.relatedTarget);
            $('#id').val(button.data('id'));
        })
        $('#confirm').on('hidden.bs.modal', function () {
            $('#id').val('');
        })
    });
</script>