<tr id="teacher_free_time_<%= free_time_index%>">
    <input name="id_<%= free_time_index%>" value="" type="hidden">
    <td class="control-group">
        <div class="input-append date date-picker">
            <input id="free_date_<%= free_time_index%>" name="free_date_<%= free_time_index%>" size="16" type="text" readonly class="m-wrap"/>
            <span class="add-on"><i class="icon-remove"></i></span>
            <span class="add-on"><i class="icon-calendar"></i></span>
        </div>
    </td>
    <td class="control-group">
        <%for (let i = 0; i < lessonPeriods.length; i++){%>
        <label class="checkbox">
            <input type="checkbox" name="lesson_period_ids_<%= free_time_index%>" value="<%= lessonPeriods[i].id%>"> <%= lessonPeriods[i].name%>
        </label>
        <%}%>
    </td>
    <td><a onclick="removeFreeTimeTr('<%= free_time_index%>')" class="btn red mini"><i class="icon-minus"></i> 删除</a></td>
</tr>